@model IEnumerable<Architecture.Theme>

@{
    ViewData["Title"] = "Themes";
}

<div class="row">
    <div class="col">
        <h1>
            @ViewData["Title"]
        </h1>
    </div>
    <div class="col-auto">
        <a class="btn btn-primary btn-sm" asp-action="Create">Create New</a>
    </div>
</div>
<table class="table table-striped bg-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StyleSheetCDN)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StyleSheetCDN)
                </td>
                <td>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                        </li>
                        <li class="list-inline-item">
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                        </li>
                        <li class="list-inline-item">
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/js/Themes/Index.cshtml.js"></script>
}