@using Domain.Enums;
@model PaymentViewModel
@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lineItems = Model.OrderViewModel != null && Model.OrderViewModel.LineItems != null ? Model.OrderViewModel.LineItems : null;
    var lineItemCount = lineItems?.Count ?? 0;
    var distinctLineItems = lineItems.GroupBy(x => x.ItemID).Select(g => g.First()).ToList();
    var orderId = lineItems.FirstOrDefault()?.OrderID;
}
<div class="row">
    <div class="col-md-4 order-md-2 mb-4">
        <div class="text-md-center my-3">
            <h1 class="h3 mb-3 font-weight-light">Order Details</h1>
        </div>
        <div class="list-group mb-3">
            @if (lineItems != null)
            {
                foreach (var lineItem in distinctLineItems)
                {
                    var qty = lineItems.Where(x => x.ItemID == lineItem.ItemID).Count();
                    switch (lineItem.ItemTypeID)
                    {
                        case (int)ItemTypeEnums.Discount:
                            <button type="button" class="list-group-item list-group-item-action list-group-item-light" disabled>
                                <div class="row">
                                    <div class="col">
                                        <h6 class="my-0 lead">
                                            @lineItem.ItemName
                                        </h6>
                                        <small class="text-muted font-weight-light">@lineItem.ItemDescription</small>
                                    </div>
                                    <div class="col-auto text-right">
                                        <span class="text-success">@lineItem.ItemAmount.ToString("C")</span>
                                    </div>
                                </div>
                            </button>
                            break;
                        default:
                            <button class="list-group-item list-group-item-action" onclick="EditRegister(@lineItem.ItemID, @lineItem.OrderID)" disabled>
                                <div class="row">
                                    <div class="col">
                                        <h6 class="my-0 lead">
                                            @lineItem.ItemName
                                        </h6>
                                        <small class="text-muted font-weight-light">@lineItem.ItemDescription</small>
                                    </div>
                                    <div class="col-auto text-right">
                                        <span class="text-muted font-weight-light">
                                            @lineItem.ItemAmount.ToString("C")
                                            <br />
                                            QTY. @qty
                                        </span>
                                    </div>
                                </div>
                            </button>
                            break;
                    }

                }
                <div class="list-group-item d-flex justify-content-between">
                    <span class="lead">Total (USD)</span>
                    <strong class="lead">@lineItems.Sum(x => x.ItemAmount).ToString("C")</strong>
                </div>

                if (Model.OrderViewModel?.Order.ID != null)
                {
                    <a href="@Url.Action("Index", "Register")" class="list-group-item list-group-item-action text-uppercase text-center lead">
                        <i class="far fa-arrow-alt-circle-left"></i> Modify Order
                    </a>
                }

            }
        </div>

        <form method="post" asp-action="ApplyDiscount" asp-controller="Payments" class="card p-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-group">
                <input asp-for="PromoCode" class="form-control" placeholder="Promo code" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-secondary">Redeem</button>
                </div>
            </div>
            <span asp-validation-for="PromoCode" class="text-danger"></span>
            <input type="hidden" asp-for="CurrentOrderID" />
        </form>
    </div>
    <div class="col-md-8 order-md-1">
        <div class="my-3">
            <h1 class="h3 mb-3 font-weight-light">Billing Info</h1>
        </div>
        <form method="post" asp-action="Payment" asp-controller="Payments" onsubmit="$('#btn_place_order').prop('disabled', true)">
            @Html.ValidationMessage("CustomError")
            <input type="hidden" asp-for="CurrentOrderID" />

            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-label-group">
                        <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                        <label asp-for="FirstName"></label>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-label-group">
                        <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                        <label asp-for="LastName"></label>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="form-label-group">
                    <input asp-for="Email" class="form-control" placeholder="Email Address" required />
                    <label asp-for="Email"></label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <blockquote class="blockquote">
                <p class="mb-0">
                    <i class="fa fa-heart"></i>
                    Feel free to create as many fake orders as you want!
                </p>
                <div class="blockquote-footer">Rob</div>
            </blockquote>
            <hr class="mb-4">
            @if (Model?.OrderViewModel != null)
            {
                <button id="btn_place_order" class="btn btn-outline-primary btn-lg btn-lg btn-block" type="submit">
                    <i class="far fa-check-circle"></i> Place Order
                </button>
            }

        </form>
    </div>
</div>