@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">
    <div class="col-md-auto">
        <div class="list-group">
            @foreach (var e in ViewBag.entities)
            {
                <a class="list-group-item list-group-item-action" href="#@e.Name">
                    @e.Name
                </a>
            }
        </div>
    </div>
    <div class="col-md">
        @foreach (var e in ViewBag.entities)
        {
            var className = e.Name;
            <section id="@e.Name" class="class-section p-2 mt-2">
                <p class="lead mb-2">@className</p>
                <div>
                    <code>
                        @foreach (var p in e.GetProperties())
                        {
                            <span>
                                @Html.Raw(GetSimpleTypeName(p.PropertyType))
                                <span class="text-black-50">
                                    @p.Name
                                </span>
                            </span>
                            <br />
                        }
                    </code>
                </div>
            </section>
        }
    </div>
</div>

@functions{
    public string GetSimpleTypeName(System.Type propertyInfo)
    {
        var simpleName = "unknown";
        var propertyTypeString = propertyInfo.ToString();

        if (propertyTypeString.Contains("System."))
        {
            simpleName = propertyTypeString.Replace("System.", "");
            if (simpleName.Contains("Nullable`1["))
            {
                simpleName = simpleName.Replace("Nullable`1[", "");
                simpleName = simpleName.Replace("]", "");
                simpleName = $"{simpleName}?";
            }
        }
        else
        {
            simpleName = propertyTypeString;
        }

        return simpleName;
    }
}