@{
    ViewData["Title"] = "About";
}

<!-- Page Header -->
<header class="masthead" style="background-image: url('https://smitha-cdn.s3.us-east-2.amazonaws.com/Content/images/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <section class="py-4">
                <h2 class="font-weight-light">Background</h2>
                <p class="lead">
                    I graduated from Florida State University with a bachelor's degree in computer science.
                    My main areas of competence in computer science are .NET technologies, MVC web architecture, user interface design, web application design and development, console application programming, database design, cloud applications and APIs.
                </p>
            </section>
            <hr class="w-25 my-2" />
            <section class="py-4">
                <h2 class="font-weight-light">Programming Languages</h2>
                <p class="lead">
                    I work with a diverse array of programming options to deliver the best final product. My skill set of general-purpose programming languages include C#, Java, C++, PHP and Python.
                    Other areas where I am proficient are JavaScript, AJAX, Android, SQL, HTML5, CSS3, AJAX, JSON, jQuery, Git and more.
                </p>
            </section>
            <hr class="w-25 my-2" />
            <section class="py-4">
                <h2 class="font-weight-light">Hands on approach</h2>
                <p class="lead">
                    I also have experience working directly with clients to better understand their software needs.
                    Ad hoc tasks that I have been responsible for are numerous software demonstrations and presentations, on site communications with clients during important project milestones, representation at conferences and recruitment events.
                </p>
            </section>
            <hr class="w-25 my-2" />
            <section class="py-4">
                <h2 class="font-weight-light">Contact</h2>
                <p>
                    Do you have questions about me or my services?
                    <a href="mailto:robsmitha94@gmail.com">
                        Send me an email!
                    </a>
                    I would be happy to address any inquiries, issues, or feedback that you may have.
                </p>
                <small class="text-muted">
                    Below are some services you can ask me about.
                </small>
                <ul class="mb-0">
                    <li>
                        Scalable Web Applications
                    </li>
                    <li>
                        Legacy System Redesigns & Refactoring
                    </li>
                    <li>
                        Business & Personal Websites
                    </li>
                    <li>
                        Online Shopping / Ordering Solutions
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>

<hr>


@*<h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <div class="row">
        <div class="col-md-auto">
            <div class="list-group">
                @foreach (var e in ViewBag.entities)
                {
                    <a class="list-group-item list-group-item-action" href="#@e.Name">
                        @e.Name
                    </a>
                }
            </div>
        </div>
        <div class="col-md">
        @foreach (var e in ViewBag.entities)
        {
            var className = e.Name;
            <section id="@e.Name" class="class-section p-2 mt-2">
                <p class="lead mb-2">@className</p>
                <div>
                    <code>
                        @foreach (var p in e.GetProperties())
                        {
                            <span>
                                @Html.Raw(GetSimpleTypeName(p.PropertyType))
                                <span class="text-black-50">
                                    @p.Name
                                </span>
                            </span>
                            <br />
                        }
                    </code>
                </div>
            </section>
        }
        </div>
    </div>

    @functions{
        public string GetSimpleTypeName(System.Type propertyInfo)
        {
            var simpleName = "unknown";
            var propertyTypeString = propertyInfo.ToString();

            if (propertyTypeString.Contains("System."))
            {
                simpleName = propertyTypeString.Replace("System.", "");
                if (simpleName.Contains("Nullable`1["))
                {
                    simpleName = simpleName.Replace("Nullable`1[", "");
                    simpleName = simpleName.Replace("]", "");
                    simpleName = $"{simpleName}?";
                }
            }
            else
            {
                simpleName = propertyTypeString;
            }

            return simpleName;
        }
    }*@