@model IEnumerable<Order>

@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mb-2">
    <div class="col-md">
        <h1>
            @ViewData["Title"]
        </h1>
    </div>
    <div class="col-md-auto">
        <a class="btn btn-primary btn-block" asp-action="Create">Create New</a>
    </div>
</div>

<table class="table table-striped bg-white">
    <thead>
        <tr>
            <th>
                Order ID
            </th>
            <th>
                Placed By
            </th>
            <th>
                Merchant
            </th>
            <th>
                Order Status
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ID
                </td>
                <td>
                    @if (item?.Customer != null && !string.IsNullOrWhiteSpace(item.Customer.Email))
                    {
                        @item.Customer.Email
                    }
                    else if (item?.User != null && !string.IsNullOrWhiteSpace(item.User.Email))
                    {
                        @item.User.Email
                    }
                    else
                    {
                        <span>Guest</span>
                    }
                </td>
                <td>
                    @item.Merchant.MerchantName
                </td>
                <td>
                    @item.OrderStatusType.Description
                </td>
                <td>
                    @item.CreatedAt.ToShortDateString()
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-outline-primary btn-sm">
                        Details
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/js/Orders/Index.cshtml.js"></script>
}