@model HeaderViewModel
<!-- Navigation -->
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light shadow">
    <div class="container">
        <a class="navbar-brand font-weight-light" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="fa fa-store-alt"></i> MyStore
        </a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            menu
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse bg-light">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Documentation">Docs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Store" asp-action="Index">Store</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <!-- Nav Item - Cart -->
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Register" asp-action="Index">
                        <i class="fas fa-shopping-basket"></i>
                    </a>
                </li>
                @if (Model.IsLoggedIn)
                {
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 text-gray-600 small">@Model.Greeting</span>
                            <img class="img-profile rounded-circle" src="https://smitha-cdn.s3.us-east-2.amazonaws.com/Content/images/default-avatar.png">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="@Url.Action("Index", "Account")">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Dashboard", "Account")">
                                <i class="fas fa-tachometer-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Dashboard
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Business", "Account", new { id = Model.MerchantID })">
                                <i class="fas fa-building fa-sm fa-fw mr-2 text-gray-400"></i>
                                Business
                            </a>
                            <a class="dropdown-item" href="@Url.Action("ChangePassword", "Account")">
                                <i class="fas fa-retweet fa-sm fa-fw mr-2 text-gray-400"></i>
                                Change Password
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Login">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="SignUp">Sign Up</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="SignOut" title="Sign out">Logout</a>
            </div>
        </div>
    </div>
</div>
