@model RegisterViewModel

@{
    ViewData["Title"] = "Register Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="cart"></div>
        </div>
    </div>
</div>

@using (Html.BeginForm("AddLineItem", "Register", FormMethod.Post, new { id = "form_add_item" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.SelectedItemID, new { id = "add_item_id" })
}
@using (Html.BeginForm("RemoveItem", "Register", FormMethod.Post, new { id = "form_remove_item" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.SelectedItemID, new { id = "remove_item_id" })
}
@using (Html.BeginForm("RemoveLineItem", "Register", FormMethod.Post, new { id = "form_remove_line_item" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.SelectedItemID, new { id = "remove_line_item_id" })
}

@*<script src="~/js/Register/Index.cshtml.js"></script>*@

@section Scripts{
    <script src="~/js/ListPlugin.js" asp-append-version="true"></script>
    <script src="~/js/CartModule.js" asp-append-version="true"></script>
    <script>
        var cart = $('#cart').ListPlugin({
            url: '/Register/LoadCart'
        })

        CartModule.init({
            addItemForm: $('#form_add_item'),
            addItemUrl: '/Register/AddLineItem/',
            onAddItemComplete: function (data) {
                //Load Cart
                cart.list()
            },
            removeItemForm: $('#form_remove_item'),
            removeItemUrl: '/Register/RemoveItem/',
            onRemoveItemComplete: function (data) {
                //Load Cart
                cart.list()
            },
            removeLineItemForm: $('#form_remove_line_item'),
            removeLineItemUrl: '/Register/RemoveLineItem/',
            onRemoveLineItemComplete: function (data) {
                //Load Cart
                cart.list()
            }

        });

        function AddLineItem(id) {
            $('#add_item_id').val(id)
            CartModule.addItem();
        }

        function RemoveItem(id) {
            $('#remove_item_id').val(id)
            CartModule.removeItem();
        }

        function RemoveLineItem(id) {
            $('#remove_line_item_id').val(id)
            CartModule.removeLineItem();
        }

    </script>
}