@model IEnumerable<User>

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col">
        <h1>
            @ViewData["Title"]
        </h1>
    </div>
    <div class="col-auto">
        <a class="btn btn-primary btn-sm" asp-action="Create">Create New</a>
    </div>
</div>

<table class="table table-striped bg-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                        </li>
                        <li class="list-inline-item">
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                        </li>
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/js/Users/Index.cshtml.js"></script>
}